<div class="navbar-margin-right">
    <span class="right">
        <a  href="/sign_up" >Sign Up</a> 
        <a  href="/sign_in" >Sign In</a>
    </span>
<div>
<img id="main-image" src="http://media.indiedb.com/images/games/1/34/33326/CatapultGifBig.gif">
</div>
<div class = "layout ">
    <h1 class="welcome"> Welcome to Gamers Blog </h1>
    <br><br><br>
</div>
<div class="main-content">
    <% @posts.all.reverse.each do |p| %>
        <h2> Title: <%= p.title %> </h2>
        <p> Created <%= p.created_at.strftime(" %m/%d/%Y") %> <%= p.created_at.strftime("at %l:%M%p") %> </p>
        <p> <%= p.post_content %> <p>
        <br>
        <% if (p.image.empty?) %>
            <% next %>
        <% else %>
        <img src ="<%= p.image %>" >
        <br><br>
        <hr style="border-color:white;"
        <br><br><br>
        <% end %>
    <% end %>
</div>



