
<div class="logo">
    <span class="left">
         Video Games Blog 
    </span>

    <span class="right">
        <a  href="/sign_up" >Sign Up</a> 
        <a  href="/sign_in" >Sign In</a>
    </span>
</div>

<div class = "layout">
    <h1 class="welcome"> Welcome to The Blog </h1>
    <h2 > Please sign up or sign in to post a blog</h2>
    <br><br><br>

    <% @posts.all.reverse.each do |p| %>
        <h2> Title: <%= p.title %> </h2>
        <p> Created <%= p.created_at.strftime(" %m/%d/%Y") %> <%= p.created_at.strftime("at %l:%M%p") %> </p>
        <p> <%= p.post_content %> <p>
        <br>
        <% if (p.image.empty?) %>
            <% next %>
        <% else %>
        <img src ="<%= p.image %>" >
        <br><br>
        <hr style="border-color:white;"
        <br><br><br>
        <% end %>
    <% end %>
</div>